<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>footer</title>
    <link rel="stylesheet" href="Css/style.css">
    <link rel="stylesheet" href="Css/all.css">
</head>
<body>
<div class="footer">

            <div class="accounts">

                <ul class="accounts-ul">
                    <li class="face"><a href="#"><i class="fbok fab fa-facebook-f"></i></a></li>
                    <li class="twit"><a href="#"><i class="twtr fab fa-twitter"></i></a></li>
                    <li class="linkd"><a href="#"><i class="lkdn fab fa-linkedin-in"></i></a></li>
                    <li class="ytb"><a href="#"><i class="ytub fab fa-youtube"></i></a></li>
                    <li class="isgrm"><a href="#"><i class="itgm fab fa-instagram"></i></a></li>
                    <li class="gog"><a href="#"><i class="gle fab fa-google"></i></a></li>
                </ul>

                <p>copyright © 2024 . all right reserved</p>
            </div>

    </div><!-- end footer -->

    


</body>
</html>