<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>header</title>
    <link rel="stylesheet" href="Css/style.css">
    <link rel="stylesheet" href="Css/all.css">
</head>
<body>
<div class="head">

        <h1 class="title-head">{{title}}</h1>
        

        
        
        <ul class="list1">

            <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
            <li><a href="/SERVICE"><i class="fas fa-tasks"></i> Service</a></li>
            <li><a href="/TEAM"><i class="fas fa-users"></i> Team</a></li>
            <li><a href="CONTACTS"><i class="fas fa-address-book"></i> contacts</a></li>
            <li><a href="/ABOUT"><i class="fas fa-info"></i></i> about</a></li>

        </ul>
        
    </div>

</body>
</html>